* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --button-color-orange: #f2a724;
  --accent-color-yellow: #ffeb3b;
  --accent-color-footer: #c94e10;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
}

/********* Header  **********/

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 6.9rem; */

  padding: 0.5rem 1.5rem;
}

.logo img {
  object-fit: contain;
}

nav {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

header > a,
header > nav {
}

.container-contact {
  background-image: url("../images/headerpreturi.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
}

/**********************/
/******** Main ********/
/**********************/

/*******Hero Section******/

.hero-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  color: var(--primary-color);
  justify-content: center;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
  background-position: center 70%;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  min-height: 40vh;
}

/**********************/
/******** Main ********/
/**********************/

/*******Content Section******/
.content {
  background-color: var(--accent-color-cloud);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

.content h2 {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.contact-methods {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.contact-methods ul {
  padding: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**********************/
/******** Footer ********/
/**********************/

/*******Footer******/

ul {
  list-style: none;
  display: flex;
}
footer {
  background-color: var(--accent-color-footer);
  padding: 3.5em 0;
}

footer p {
  color: var(--accent-color-cloud);
  font-weight: 400;
  text-align: left;
  padding: 0.5rem 1.5rem;
}

footer a {
  text-decoration: none;
}

.logo-footer img {
  object-fit: contain;
}

.logo-footer {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}
