* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --button-color-orange: #f2a724;
  --accent-color-yellow: #ffeb3b;
  --accent-color-footer: #c94e10;
  font-family: "Roboto", sans-serif;
  --accent-color-whatsapp: #25d366;
}

body {
  background-color: #f5ecd7;
}

/********* Header  **********/

header {
  background-color: #c2baa6;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1.5rem;

  position: sticky;
  right: 0;
  left: 0;
  --_header-height: 7rem;
  height: var(--_header-height);
  bottom: calc(100vh - var(--_header-height));
  background: #b8b8b885;
  backdrop-filter: blur(1rem);
}

.logo img {
  object-fit: contain;
}

header ul a {
  text-decoration: none;
  opacity: 1;

  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

/* header ul a {
  text-decoration: none;
  opacity: 1;
} */

header ul:nth-child(1) a {
  text-transform: uppercase;
  color: #ffffffc4;
}

nav {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  flex-wrap: wrap;

  font-size: 1.35rem;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

header > a,
header > nav {
}

/**********************/
/******** Main ********/
/**********************/

/*******Hero Section******/

.hero {
  /* background-image: url("../images/header\ background.jpg"); */

  background-image: linear-gradient(#0005, #0005),
    url(../images/header\ background.jpg);

  background-size: cover;
  background-position: center 70%;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: var(--accent-color-yellow);
  padding-block: 7rem;
  min-height: 100vh;
}

.hero .tel {
  color: var(--primary-color);
  background-color: var(--button-color-orange);
  text-shadow: none;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-top: 8em;
  display: inline-block;
  text-decoration: none;
}

.hero a:hover {
  background-color: var(--accent-color-whatsapp);
  text-shadow: 2px 2px 4px #000000;
}

.hero div a:hover {
  background-color: var(--accent-color-whatsapp);
}

.whats-app {
  color: var(--primary-color);
  background-color: var(--button-color-orange);
  text-shadow: none;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  display: inline-block;
  text-decoration: none;
}

/**********************/
/******** Main ********/
/**********************/

/*******Features Section******/

.features h3 {
  font-weight: 500;
  text-align: center;
}

.features p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-description);
  align-content: space-around;
  list-style: none;
}

.features ul {
  display: grid;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 1em;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  max-width: 70rem;
  /* center horizontally */
  margin-inline: auto;
}

.feature {
  padding: 1em;
}

/**********************/
/******** Main ********/
/**********************/

/*******Servicii Section******/

.what-are {
  justify-content: center;
  margin-bottom: 5%;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--accent-color-text);
}

.images {
  list-style: none;
  justify-content: center;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 70rem;
  margin-inline: auto;
  padding: 1em;
  font-size: 1em;
}

.images h3,
p {
  text-align: center;
}

.images img {
  width: 100%;
  object-fit: cover;
}

/**********************/
/******** Main ********/
/**********************/

/*******Card Section******/

.card {
  background-color: #f5ecd7;
  margin-top: 2%;
}

.team-member {
  border: 1px solid var(--accent-color-filters);
  text-align: center;
}

.our-team {
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--accent-color-text);
}

.team {
  list-style: none;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 1em;
  gap: 0.2em;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
}

.team img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.team-member {
  background-color: var(--primary-color);
}

/**********************/
/******** Footer ********/
/**********************/

/*******Footer Section******/

ul {
  list-style: none;
  display: flex;
}
footer {
  background-color: var(--accent-color-footer);
  padding: 3.5em 0;
}

footer p {
  color: var(--accent-color-cloud);
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  text-align: left;
}

.adress {
  display: flex;
  margin-left: clamp(1.5rem, 7vw, 15rem);
  gap: 0.5em;
}

.adress a {
  color: #000000;
}

footer a {
  text-decoration: none;
}

.logo-footer img {
  object-fit: contain;
}

.logo-footer {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 600px) {
  .features ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .images {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .team img {
    width: 100%;
    height: 80%;
    max-width: none;
  }

  .team-member {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 960px) {
  .features ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .team {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
}
