* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --button-color-orange: #f2a724;
  --accent-color-yellow: #ffeb3b;
  --accent-color-footer: #c94e10;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
}

/********* Header  **********/

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 6.9rem; */
  border: 2px solid black;
  padding:0.5rem 1.5rem;
}

.logo img {
  object-fit: contain;
}

nav {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

nav ul  {
  list-style: none;
  display: flex;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

header > a,
header > nav {
  border: 2px solid black;
}

/**********************/
/******** Main ********/
/**********************/

/*******Hero Section******/

.hero {
  background-image: url("../images/header\ background.jpg");
  background-size: cover;
  background-position: center 70%;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: var(--accent-color-yellow);
  padding-block: 7rem ;
  min-height: 80vh;
}

.hero a{
  color: var(--primary-color);
  background-color: var(--button-color-orange);
  text-shadow: none;
  padding: .3em .5em;
  border-radius: .5em;
  box-shadow: 0 0 4px black;
  margin-top: .2em;
  display: inline-block;
}

.features h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  text-align: left;
}

.features p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color-description);
  align-content: space-around;
}

.features {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 24px;
}

.feature {
  list-style: none;
  justify-content: center;
  width: 18%;
}

.what-are {
  justify-content: center;
  margin-bottom: 5%;
  display: flex;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.images {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}

.card {
  background-color: var(--accent-color-cloud);
  padding: 100px 0;
  margin-top: 5%;
}

.card team-member1,
.card team-member2,
.card team-member3,
.card team-member4,
.card team-member5 {
  width: 360px;
  height: 420px;
  border: 1px solid var(--accent-color-filters);
  padding: 0 0 32px 0;
  text-align: center;
}

.our-team {
  justify-content: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.team {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
}

.card ul {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-description);
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.team-member {
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  display: flex;
}
footer {
  background-color: var(--accent-color-footer);
  padding: 50px 0;
}

footer p {
  color: var(--accent-color-cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 156px;
}

footer a {
  text-decoration: none;
}

.logo-footer img {
  object-fit: contain;
}

.logo-footer {
  display: flex;
  align-items: center;
  text-decoration: none;

  text-transform: uppercase;

  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 156px;
}

@media (min-width: 600px) {
}

@media (min-width: 960px) {
}

@media (min-width: 1200px) {
}
